<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>969238484571-irrf3hhr3pu5550m3gf4tv3b8gcisgb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969238484571-irrf3hhr3pu5550m3gf4tv3b8gcisgb7</string>
	<key>API_KEY</key>
	<string>AIzaSyCosbcvI7-lL3IUiRwsI_ksN1dL0IKKqKk</string>
	<key>GCM_SENDER_ID</key>
	<string>969238484571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaejunmi.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>itp342-76f61</string>
	<key>STORAGE_BUCKET</key>
	<string>itp342-76f61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:969238484571:ios:041d188021b5b791</string>
	<key>DATABASE_URL</key>
	<string>https://itp342-76f61.firebaseio.com</string>
</dict>
</plist>
